{% extends "components/base.html" %}
{% load static %}
{% block title %}ប្តូរលេខសម្ងាត់{% endblock title %}

{% block content %}
<main id="main-container" class="max-w-screen-lg mx-auto p-5">
    <div>
        <h1 class="text-xl font-bold">សួស្តី {{ request.user.username }}</h1>
        <div class="my-5 flex gap-4">
            <a href={% url 'dashboard' %} class="text-blue-600 hover:text-red-500 hover:underline duration-150">គ្រប់គ្រង</a>
            <a href={% url "update_profile" %} class="text-blue-600 hover:text-red-500 hover:underline duration-150">ព័ត៍មានផ្ទាល់ខ្លួន</a>
            <a href={% url "change_password" %} class="text-blue-600 hover:text-red-500 hover:underline duration-150">ប្តូរលេខសម្ងាត់</a>
            <a href={% url "logout" %} class="text-red-600">ចេញពីប្រព័ន្ធ</a>
        </div>
        <h1 class="text-lg font-bold">ផ្លាស់ប្តូរលេខសម្ងាត់</h1>
        <form method="POST" class="max-w-md mt-5">
            {% csrf_token %}
            {% include "components/error_messages.html" %}
            <div class="mb-5">
                <label for="old-password" class="block mb-2 text-sm font-medium text-gray-900">លេខសម្ងាត់ចាស់</label>
                <input type="password" name="old-password" id="old-password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
            </div>
            <div class="mb-5">
                <label for="new-password-1" class="block mb-2 text-sm font-medium text-gray-900">លេខសម្ងាត់ថ្មី</label>
                <input type="password" name="new-password-1" id="new-password-1" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
            </div>
            <div class="mb-5">
                <label for="new_password-2" class="block mb-2 text-sm font-medium text-gray-900">បញ្ជាក់លេខសម្ងាត់ថ្មី</label>
                <input type="password" name="new-password-2" id="new_password-2" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
            </div>
            <button class="bg-blue-600 text-white rounded-md py-1 px-5">ផ្លាស់ប្តូរ</button>
        </form>
    </div>
</main>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/form_browser.js' %}"></script>
{% endblock scripts %}