{% extends "components/base.html" %}
{% load static %}
{% block title %}អំពីយើង{% endblock title %}

{% block content %}
<main id="main-container" class="max-w-screen-lg mx-auto p-5">
    <h1 class="text-xl font-bold mb-4">អំពីជេនហ្វូត</h1>
    <div class="w-full bg-black text-white sm:flex justify-between items-center py-2 px-4 mb-4 rounded">
        <p>Please note: This website is made for educational purpose only.</p>
        <a href="#" class="text-white underline">Github</a>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et metus laoreet, porta sem sed, semper diam. Duis blandit risus eu augue congue bibendum. In in leo magna. Donec consectetur est sodales, maximus diam nec, mollis diam. Quisque blandit augue nec ante scelerisque consectetur. Nunc id aliquam lorem. Donec faucibus urna eget orci mattis consequat. Donec sodales nisi metus, id hendrerit nulla pretium eu. Vivamus euismod ac velit eu vehicula. Vivamus nec blandit erat.
    <br><br>
    Donec porta libero vitae porttitor fringilla. Vestibulum vel lectus ultrices, scelerisque odio volutpat, molestie mauris. Donec sit amet nisi non dui venenatis ultrices. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum, eros ut semper tincidunt, ex mi iaculis magna, eu iaculis libero augue sit amet orci. Suspendisse potenti. Nam tincidunt erat a congue semper. Nam dapibus lorem eget vestibulum tristique. Quisque semper hendrerit metus vehicula viverra.
    <br><br>
    Cras vulputate feugiat arcu in cursus. Vivamus et nisl aliquet, dignissim magna id, iaculis tellus. Nulla commodo maximus ipsum, congue consequat dui tristique at. Integer in odio eget quam vehicula feugiat et eu eros. Nam suscipit risus arcu, in eleifend nisl tincidunt rutrum. Nulla pulvinar nunc sed mollis cursus. Pellentesque dictum sem id urna ornare, tempus venenatis magna ultrices. Praesent non mi elit.
    <br><br>
    Duis tristique varius nibh, in commodo lectus rutrum ut. Curabitur ac erat sodales, euismod neque vel, laoreet lorem. In sit amet volutpat quam. In congue urna sed mollis hendrerit. In aliquam eros ex, et feugiat erat porta ac. Nullam consequat turpis ligula, vel vehicula diam blandit nec. Morbi augue neque, sodales facilisis urna blandit, porttitor scelerisque risus. Sed eu nibh sit amet libero placerat eleifend.
    <br><br>
    Mauris sit amet mauris bibendum, lobortis felis vel, tempus arcu. Aenean et molestie magna, nec aliquam erat. Donec id libero a orci ultrices accumsan ac a velit. Donec efficitur blandit risus, vel imperdiet elit vestibulum sit amet. Sed feugiat gravida tellus. Mauris scelerisque, sapien a laoreet interdum, quam est vestibulum est, eget euismod augue purus sed dolor. Aliquam magna nulla, cursus eu nisi id, eleifend aliquet mauris. Cras sed pharetra velit. Fusce sit amet lorem ac ex pellentesque finibus vel in elit.
    </p>
</main>
{% endblock content %}
