{% extends "components/base.html" %}
{% load static %}
{% block title %}ទំព័រដើម{% endblock title %}

{% block content %}
    <div id="home-landing" class="flex items-center justify-center w-full h-[400px]">
        <div class="text-center">
            <h1 class="text-2xl font-bold mb-4">DjanFood</h1>
            <p class="text-base mb-3">កម្មង់ភ្លាម ដឹកជូនភ្លែត</p>
            <p>សាកល្បងរសជាតិម្ហូបឆ្ងាញ់ៗមកពីហាងល្បីៗ</p>
            <div class="flex items-center gap-4 mt-4">
                <button class="py-2 px-5 text-sm text-white rounded-md bg-black">
                    <a href={% url "food_dishes" %}>មុខម្ហូបទាំងអស់</a>
                </button>
                {% if request.user.is_authenticated %}
                <button class="py-2 px-5 text-sm text-white rounded-md bg-blue-600">
                    <a href={% url "dashboard" %}>
                        {% if first_name and last_name %}
                            {{request.user.first_name}} {{request.user.last_name}}
                        {% else %}
                            {{request.user.username}}
                        {% endif %}
                    </a>
                </button>
                {% else %}
                <button class="py-2 px-5 text-sm text-white rounded-md bg-blue-600">
                    <a href={% url "login" %}>ចុះឈ្មោះដើម្បីបានប្រូម៉ូសិន</a>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="max-w-screen-xl mx-auto p-5">
        <center><h1 class="mb-6 text-2xl font-bold">មុខម្ហូបពិសេស<span class="text-red-600">សម្រាប់អ្នក</span></h1></center>
        <div class="st-cards-list mt-10">
            {% for food in foods %}
            <div class="bg-white border border-gray-100 transition h-fit duration-400 hover:shadow-xl hover:scale-105 max-w-52 p-5 sm:p-2 rounded-lg relative">
                    <span class="bg-red-100 text-[85%] border border-red-500 rounded-full poppins px-4 py-1 mb-2">
                        {{ food.category }}
                    </span>
                    <img class="mx-auto mt-2 w-full px-6 object-cover transition duration-300 hover:scale-105" src="{% static food.image_relative_url %}" alt="">
                    <div class="flex flex-col items-center mt-2 space-y-1">
                        <h1 class="text-gray-900 poppins text-[100%] line-clamp-1 text-center">{{ food.title }}</h1>
                        <p class="text-gray-500 poppins text-sm text-center line-clamp-1 sm:line-clamp-2">{{ food.description }}</p>
                        {% if food.special_price %}
                            <div class="relative">
                                <p class="text-blue-900 poppins text-md font-bold whitespace-nowrap">{{food.special_price}} រៀល</p>
                                <del class="absolute bottom-4 left-0 text-sm text-red-500 whitespace-nowrap"><small>{{food.price}} រៀល</small></del>
                            </div>
                        {% else %}
                            <p class="text-blue-900 poppins text-md font-bold whitespace-nowrap">{{ food.price }}រៀល</p>
                        {% endif %}
                        <a href={% url "food_details" food.id %} class="cursor-pointer bg-teal-500 w-full text-white text-[90%] text-center py-2 focus:outline-none poppins rounded-full mt-24 transform transition duration-300 whitespace-nowrap hover:scale-105">
                            កម្មង់ឥឡូវ
                        </a>
                    </div>
                </div>           
            {% endfor %}
        </div>
        <center><button class="mt-10 py-2 px-5 text-sm text-white rounded-md bg-black">
            <a href={% url "food_dishes" %}>មុខម្ហូបច្រើនទៀត</a>
        </button></center>
    </div>
{% endblock content %}
