{% extends "components/base.html" %}
{% load static %}
{% block title %}មុខម្ហូប{% endblock title %}

{% block content %}
<main id="main-container" class="max-w-screen-lg mx-auto p-5">
    <h1 class="mb-6 px-5 text-xl font-bold">មុខម្ហូបទាំងអស់</h1>
    <div class="st-cards-list">
        {% for food in foods %}
        <div class="bg-white border border-gray-100 transition h-fit duration-400 hover:shadow-xl hover:scale-105 max-w-52 p-2 rounded-lg relative">
                <span class="bg-red-100 text-[85%] border border-red-500 rounded-full poppins px-4 py-1 mb-2">
                    {{ food.category }}
                </span>
                <img class="mx-auto mt-2 w-full px-6 object-cover transition duration-300 hover:scale-105" src="{% static food.image_relative_url %}" alt="">
                <div class="flex flex-col items-center mt-2 space-y-1">
                    <h1 class="text-gray-900 poppins text-[100%] line-clamp-1 text-center">{{ food.title }}</h1>
                    <p class="text-gray-500 poppins text-sm text-center line-clamp-1 sm:line-clamp-2">{{ food.description }}</p>
                    {% if food.special_price %}
                        <div class="relative">
                            <p class="text-blue-900 poppins text-md font-bold whitespace-nowrap">{{food.special_price}} រៀល</p>
                            <del class="absolute bottom-4 left-0 text-sm text-red-500 whitespace-nowrap"><small>{{food.price}} រៀល</small></del>
                        </div>
                    {% else %}
                        <p class="text-blue-900 poppins text-md font-bold whitespace-nowrap">{{ food.price }}រៀល</p>
                    {% endif %}
                    <a href={% url "food_details" food.id %} class="cursor-pointer bg-teal-500 w-full text-white text-[90%] text-center py-2 focus:outline-none poppins rounded-full mt-24 transform transition duration-300 whitespace-nowrap hover:scale-105">
                        កម្មង់ឥឡូវ
                    </a>
                </div>
            </div>           
        {% endfor %}
    </div>
</main>
{% endblock content %}